html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}


body
{
color:blue;
display:table-cell;
vertical-align:middle;
font-weight:bold;
}

.instr
{
color:red;
font-weight:bold;
}
