{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %}


{% block main %}
<br/>
<form action="{{ url_for('settings') }}" method="post">
<p class="instr"> Select the city whose marathons you want to be notified of </p>
<p> (Type the correct spelling of the city with the first letter capitalized, E.g. Chennai) </p>
<input autocomplete="off" name="cityfilter" placeholder="City (Capitalize first letter)" type="text"/><br/><br/>
<p class="instr">Select the category whose marathons you want to be notified of </p> 
<select name="categoryfilter">
<option value="" disabled selected>Select Category</option>
<option value="500mtr">500 mtr </option>
<option value="1K">1K</option>
<option value="2K">2K</option>
<option value="3K">3K</option>
<option value="5K">5K</option>
<option value="10K">10K</option>
<option value="15K">15K</option>
<option value="Half">Half</option>
<option value="21K">21K</option>
<option value="25K">25K</option>
<option value="Full">Full</option>
<option value="Ultra">Ultra</option>
</select>
<br/><br/>
<p class="instr"> Enter the time at which you want to receive text notifications about upcoming marathons </p>
<input autocomplete="off" name="timefilter" placeholder="Time as HHMM - 24 hour format" type="text"/>
<br/><br/>
<p class="instr"> Days of the week on which you want to be reminded </p>
<input type="checkbox" name="day" value="Monday">Monday<br/><br/>
<input type="checkbox" name="day" value="Tuesday">Tuesday<br/><br/>
<input type="checkbox" name="day" value="Wednesday">Wednesday<br/><br/>
<input type="checkbox" name="day" value="Thursday">Thursday<br/><br/>
<input type="checkbox" name="day" value="Friday">Friday<br/><br/>
<input type="checkbox" name="day" value="Saturday">Saturday<br/><br/>
<input type="checkbox" name="day" value="Sunday">Sunday><br/><br/>
<button type="submit"> Submit </button>

</form>

{% endblock %}
