<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
<a href="{{ url_for('settings') }}">Edit Settings</a>
<main>
{% block main %}{% endblock %}
</main>
</body>
</html>
